// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
button.login-button{
  cursor: pointer;
}
button.signup-button{
  margin-left: 30px;
  cursor: pointer;
    text-decoration: none;
}

.login_register_box{
a{
  text-decoration: none;
}
}
